{% extends 'usage_base.html' %}

{% block extracontent %}
<ul>
  <li>Send cutoff dates as {<b>since</b>} and {<b>before</b>} in url.  Both take the format 'YYYYMMDDHHMMSS'</li>
  <li>Send api token in POST request:</li>
</ul>
<pre>
{
  "token": {api token},
}
</pre>

<p>On success expect a 200 response w/ json body:</p>
<pre>
[
  {
    "aptduration": ...,
    "startdate": ...,
    "enddate": ...,
    "starttime": ...
    "LastUpdated": ...
  },
  ...
]
</pre>

{% include 'usage_error_snippet.html' %}
{% endblock %}
