# Flask & it's dependencies
Flask==0.12.2
click==6.7
itsdangerous==0.24
Jinja2==2.10
Werkzeug==0.14.1
MarkupSafe==1.0


# Manually Install: git@github.com:ibrewster/p4d.git
# p4d dependencies:
cffi
setuptools
